<div class="row mt-1">
  <div class="card col-12">
    <div class="card-header">
      <%= render partial: 'shared/user_and_picture', locals: {user: comment.user} %>
      <%= render partial: 'shared/date_ago', locals: {html_class: 'text-muted float-right', date: comment.created_at} %>
      <% if can? :update, Comment %>
        <%= link_to('Edit', edit_comment_path(comment), class: 'btn btn-warning btn-sm float-right p-0 mr-2') if @current_user == comment.user %>
      <% end %>
    </div>
    <div class="card-body">
      <p class="card-text"> <%= MarkdownParser.new(comment.content).markdown_to_html %></p>
    </div>
  </div>
</div>