<h2>Blacklist</h2>

<div class="row">
  <div class="col-sm-6">
    <% 6.times do |t| %>
      <%= render 'user_blacklist_card' %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <% 6.times do |t| %>
      <div>
        <%= render 'user_blacklist_card' %>
      </div>
    <% end %>
  </div>
</div>