<% flash.each do |message_type, message| %>
  <% m_type = 'danger' %>

  <% if message_type == 'notice' or message_type == 'success' %>
    <% m_type = 'success' %>
  <% end %>
  <div class="alert alert-<%= m_type %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
