<div class="d-inline-block text-primary">
  <img src="https://www.bh-bims.org/wp-content/uploads/2017/02/profile-placeholder.gif" class="rounded float-left img-fluid img-thumbnail mr-1" width="20" height="20" alt="...">
  <%= link_to user.username, user_profile_path(user) %>
</div>