<h1>Groucho</h1>
<hr>
<p>By Pedro Ricci and Enrique Riveros<p>
<br>
<br>


<div>
<div class="dropdown">
  <button class="dropbtn">User</button>
  <div class="dropdown-content">
    <a href="/users/new">New</a>
    <a href="/users">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn">Comment</button>
  <div class="dropdown-content">
    <a href="/comments/new">New</a>
    <a href="/comments">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn">Post</button>
  <div class="dropdown-content">
    <a href="/posts/new">New</a>
    <a href="/posts">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>Votes</button>
  <div class="dropdown-content">
    <a href="/votes/new">New</a>
    <a href="/votes">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>User Status</button>
  <div class="dropdown-content">
    <a href="/user_statuses/new">New</a>
    <a href="/user_statuses">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>User Shared</button>
  <div class="dropdown-content">
    <a href="/user_shareds/new">New</a>
    <a href="/user_shareds">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>User Profile</button>
  <div class="dropdown-content">
    <a href="/user_profiles/new">New</a>
    <a href="/user_profiles">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>Post Flag</button>
  <div class="dropdown-content">
    <a href="/post_flags/new">New</a>
    <a href="/post_flags">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>Follow User</button>
  <div class="dropdown-content">
    <a href="/follow_users/new">New</a>
    <a href="/follow_users">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>Follow Post</button>
  <div class="dropdown-content">
    <a href="/follow_posts/new">New</a>
    <a href="/follow_posts">Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" id=2>File Type</button>
  <div class="dropdown-content">
    <a href="/file_types/new">New</a>
    <a href="/file_types">Index</a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<div class="dropdown">
  <button class="dropbtn">Dumpster</button>
  <div class="dropdown-content">
    <a href="/dumpsters/new">New</a>
    <a href="/dumpsters">Index</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Blacklist</button>
  <div class="dropdown-content">
    <a href="/blacklists/new">New</a>
    <a href="/blacklists">Index</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Admin Geofence</button>
  <div class="dropdown-content">
    <a href="/admin_geofences/new">New</a>
    <a href="/admin_geofences">Index</a>
  </div>
</div>
  


