<footer class="footer">
  <small>
    Site by Enrique Riveros and Pedro Ricci
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   aup_path %></li>
      <li><%= link_to "TOS", tos_path %></li>
    </ul>
  </nav>
</footer>